<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Engine</key>
	<array>
		<string>ActorFactoryStaticMesh</string>
		<string>AeroInnerVolume</string>
		<string>AeroSet</string>
		<string>AeroVolume</string>
		<string>AmbientSoundNonLoop</string>
		<string>AmbientSoundSimple</string>
		<string>AnimNodeBlend</string>
		<string>AnimNodeBlendPerBone</string>
		<string>AnimNodeSequence</string>
		<string>AnimNodeSlot</string>
		<string>AnimSequence</string>
		<string>AnimSet</string>
		<string>AnimTree</string>
		<string>AudioComponent</string>
		<string>BlockingVolume</string>
		<string>BookMark</string>
		<string>Brush</string>
		<string>BrushComponent</string>
		<string>CameraActor</string>
		<string>CameraAnim</string>
		<string>CylinderComponent</string>
		<string>DecalActor</string>
		<string>DecalComponent</string>
		<string>DirectionalLight</string>
		<string>DirectionalLightComponent</string>
		<string>DirectionalLightToggleable</string>
		<string>DistributionFloatConstant</string>
		<string>DistributionFloatConstantCurve</string>
		<string>DistributionFloatUniform</string>
		<string>DistributionVectorConstant</string>
		<string>DistributionVectorConstantCurve</string>
		<string>DistributionVectorUniform</string>
		<string>DistributionVectorUniformCurve</string>
		<string>DrawFrustumComponent</string>
		<string>DrawLightConeComponent</string>
		<string>DrawLightRadiusComponent</string>
		<string>DrawSoundRadiusComponent</string>
		<string>DynamicLightEnvironmentComponent</string>
		<string>Emitter</string>
		<string>HeightFog</string>
		<string>HeightFogComponent</string>
		<string>InterpActor</string>
		<string>InterpCurveEdSetup</string>
		<string>InterpData</string>
		<string>InterpFilter_Custom</string>
		<string>InterpGroup</string>
		<string>InterpGroupDirector</string>
		<string>InterpTrackAnimControl</string>
		<string>InterpTrackColorProp</string>
		<string>InterpTrackColorScale</string>
		<string>InterpTrackDirector</string>
		<string>InterpTrackEvent</string>
		<string>InterpTrackFade</string>
		<string>InterpTrackFloatMaterialParam</string>
		<string>InterpTrackFloatProp</string>
		<string>InterpTrackMove</string>
		<string>InterpTrackSlomo</string>
		<string>InterpTrackSound</string>
		<string>InterpTrackToggle</string>
		<string>InterpTrackVectorMaterialParam</string>
		<string>InterpTrackVectorProp</string>
		<string>InterpTrackVisibility</string>
		<string>KActor</string>
		<string>LensFlare</string>
		<string>LensFlareComponent</string>
		<string>LensFlareSource</string>
		<string>Level</string>
		<string>LevelStreamingDistance</string>
		<string>LevelStreamingKismet</string>
		<string>LevelStreamingVolume</string>
		<string>LightFunction</string>
		<string>LightMapTexture2D</string>
		<string>LightVolume</string>
		<string>Material</string>
		<string>MaterialExpressionAbs</string>
		<string>MaterialExpressionAdd</string>
		<string>MaterialExpressionAppendVector</string>
		<string>MaterialExpressionBumpOffset</string>
		<string>MaterialExpressionCameraVector</string>
		<string>MaterialExpressionCeil</string>
		<string>MaterialExpressionClamp</string>
		<string>MaterialExpressionComment</string>
		<string>MaterialExpressionComponentMask</string>
		<string>MaterialExpressionConstant</string>
		<string>MaterialExpressionConstant2Vector</string>
		<string>MaterialExpressionConstant3Vector</string>
		<string>MaterialExpressionConstant4Vector</string>
		<string>MaterialExpressionConstantBiasScale</string>
		<string>MaterialExpressionConstantClamp</string>
		<string>MaterialExpressionCosine</string>
		<string>MaterialExpressionDepthBiasedAlpha</string>
		<string>MaterialExpressionDesaturation</string>
		<string>MaterialExpressionDestColor</string>
		<string>MaterialExpressionDestDepth</string>
		<string>MaterialExpressionDivide</string>
		<string>MaterialExpressionDotProduct</string>
		<string>MaterialExpressionDynamicParameter</string>
		<string>MaterialExpressionFlipBookSample</string>
		<string>MaterialExpressionFloor</string>
		<string>MaterialExpressionFrac</string>
		<string>MaterialExpressionFresnel</string>
		<string>MaterialExpressionIf</string>
		<string>MaterialExpressionLensFlareIntensity</string>
		<string>MaterialExpressionLensFlareOcclusion</string>
		<string>MaterialExpressionLensFlareRadialDistance</string>
		<string>MaterialExpressionLinearInterpolate</string>
		<string>MaterialExpressionMeshEmitterVertexColor</string>
		<string>MaterialExpressionMeshSubUV</string>
		<string>MaterialExpressionMultiply</string>
		<string>MaterialExpressionOneMinus</string>
		<string>MaterialExpressionPanner</string>
		<string>MaterialExpressionParameter</string>
		<string>MaterialExpressionParticleSubUV</string>
		<string>MaterialExpressionPixelDepth</string>
		<string>MaterialExpressionPower</string>
		<string>MaterialExpressionReflectionVector</string>
		<string>MaterialExpressionRotator</string>
		<string>MaterialExpressionScalarParameter</string>
		<string>MaterialExpressionSceneDepth</string>
		<string>MaterialExpressionScreenPosition</string>
		<string>MaterialExpressionSine</string>
		<string>MaterialExpressionSquareRoot</string>
		<string>MaterialExpressionStaticComponentMaskParameter</string>
		<string>MaterialExpressionStaticSwitchParameter</string>
		<string>MaterialExpressionSubtract</string>
		<string>MaterialExpressionTextureCoordinate</string>
		<string>MaterialExpressionTextureSample</string>
		<string>MaterialExpressionTextureSampleParameter2D</string>
		<string>MaterialExpressionTextureSampleParameterCube</string>
		<string>MaterialExpressionTextureSampleParameterSubUV</string>
		<string>MaterialExpressionTime</string>
		<string>MaterialExpressionTransform</string>
		<string>MaterialExpressionTransformPosition</string>
		<string>MaterialExpressionVectorParameter</string>
		<string>MaterialExpressionVertexColor</string>
		<string>MaterialExpressionWorldPosition</string>
		<string>MaterialInstanceActor</string>
		<string>MaterialInstanceConstant</string>
		<string>MaterialInstanceTimeVarying</string>
		<string>Model</string>
		<string>ModelComponent</string>
		<string>Note</string>
		<string>ObjectRedirector</string>
		<string>Package</string>
		<string>ParticleLODLevel</string>
		<string>ParticleModuleAcceleration</string>
		<string>ParticleModuleAccelerationOverLifetime</string>
		<string>ParticleModuleBeamSource</string>
		<string>ParticleModuleBeamTarget</string>
		<string>ParticleModuleColor</string>
		<string>ParticleModuleColorOverLife</string>
		<string>ParticleModuleColorScaleOverLife</string>
		<string>ParticleModuleLifetime</string>
		<string>ParticleModuleLocation</string>
		<string>ParticleModuleLocationDirect</string>
		<string>ParticleModuleLocationEmitter</string>
		<string>ParticleModuleLocationEmitterDirect</string>
		<string>ParticleModuleLocationPrimitiveCylinder</string>
		<string>ParticleModuleLocationPrimitiveSphere</string>
		<string>ParticleModuleMeshRotation</string>
		<string>ParticleModuleMeshRotationRate</string>
		<string>ParticleModuleMeshRotationRateMultiplyLife</string>
		<string>ParticleModuleOrbit</string>
		<string>ParticleModuleOrientationAxisLock</string>
		<string>ParticleModuleParameterDynamic</string>
		<string>ParticleModuleRequired</string>
		<string>ParticleModuleRotation</string>
		<string>ParticleModuleRotationRate</string>
		<string>ParticleModuleRotationRateMultiplyLife</string>
		<string>ParticleModuleS1Climate</string>
		<string>ParticleModuleSize</string>
		<string>ParticleModuleSizeMultiplyLife</string>
		<string>ParticleModuleSizeMultiplyVelocity</string>
		<string>ParticleModuleSizeScale</string>
		<string>ParticleModuleSpawn</string>
		<string>ParticleModuleSubUV</string>
		<string>ParticleModuleTypeDataBeam2</string>
		<string>ParticleModuleTypeDataDecal</string>
		<string>ParticleModuleTypeDataMesh</string>
		<string>ParticleModuleTypeDataTrail2</string>
		<string>ParticleModuleVelocity</string>
		<string>ParticleModuleVelocityInheritParent</string>
		<string>ParticleModuleVelocityOverLifetime</string>
		<string>ParticleSpriteEmitter</string>
		<string>ParticleSystem</string>
		<string>ParticleSystemComponent</string>
		<string>PathNode</string>
		<string>PhysicalMaterial</string>
		<string>PhysicsAsset</string>
		<string>PhysicsAssetInstance</string>
		<string>PlayerStart</string>
		<string>PointLight</string>
		<string>PointLightComponent</string>
		<string>PointLightMovable</string>
		<string>Polys</string>
		<string>Prefab</string>
		<string>PrefabInstance</string>
		<string>RB_BodyInstance</string>
		<string>RB_BodySetup</string>
		<string>ReachSpec</string>
		<string>ReverbVolume</string>
		<string>S1AnimNodeSequence</string>
		<string>S1ChannelVolume</string>
		<string>S1IsolatedSoundVolume</string>
		<string>S1LevelStreamingBaseLevel</string>
		<string>S1LevelStreamingSound</string>
		<string>S1LevelStreamingSuperLow</string>
		<string>S1LevelStreamingVOID</string>
		<string>S1MapComment</string>
		<string>S1MatineeActorPlayer</string>
		<string>S1MatineeActorVillager</string>
		<string>S1MusicVolume</string>
		<string>S1ParentSkeletalMeshComponent</string>
		<string>S1PhysicalMaterialProperty</string>
		<string>S1SeqAct_CameraShake</string>
		<string>S1SeqAct_ChangeWeapon</string>
		<string>S1SeqAct_MovieScript</string>
		<string>S1SeqAct_ToggleCinematic</string>
		<string>S1SkeletalMeshActorMAT</string>
		<string>S1SmartActor</string>
		<string>S1SmartGeneralStaticMeshComponent</string>
		<string>S1SoundNodeSequence</string>
		<string>S1UnloadS1LevelVolume</string>
		<string>S1WaterVolume</string>
		<string>SeqAct_ActivateRemoteEvent</string>
		<string>SeqAct_Interp</string>
		<string>SeqAct_LevelStreaming</string>
		<string>SeqAct_Log</string>
		<string>SeqAct_PlaySound</string>
		<string>SeqEvent_Console</string>
		<string>SeqEvent_LevelLoaded</string>
		<string>Sequence</string>
		<string>SequenceFrame</string>
		<string>SequenceFrameWrapped</string>
		<string>SeqVar_Float</string>
		<string>SeqVar_Object</string>
		<string>ShadowMap1D</string>
		<string>ShadowMap2D</string>
		<string>ShadowMapTexture2D</string>
		<string>SkeletalMesh</string>
		<string>SkeletalMeshActor</string>
		<string>SkeletalMeshActorMAT</string>
		<string>SkeletalMeshComponent</string>
		<string>SkeletalMeshSocket</string>
		<string>SkyLight</string>
		<string>SkyLightComponent</string>
		<string>SoundCue</string>
		<string>SoundNodeAmbient</string>
		<string>SoundNodeAmbientNonLoop</string>
		<string>SoundNodeDelay</string>
		<string>SoundNodeLooping</string>
		<string>SoundNodeWave</string>
		<string>SpeedTree</string>
		<string>SpeedTreeActor</string>
		<string>SpeedTreeActorFactory</string>
		<string>SpeedTreeComponent</string>
		<string>SpotLight</string>
		<string>SpotLightComponent</string>
		<string>SpotLightMovable</string>
		<string>SpotLightToggleable</string>
		<string>SpriteComponent</string>
		<string>StaticMesh</string>
		<string>StaticMeshActor</string>
		<string>StaticMeshComponent</string>
		<string>Terrain</string>
		<string>TerrainComponent</string>
		<string>TerrainLayerSetup</string>
		<string>TerrainMaterial</string>
		<string>TerrainWeightMapTexture</string>
		<string>Texture2D</string>
		<string>TextureCube</string>
		<string>TextureFlipBook</string>
		<string>Trigger</string>
		<string>World</string>
		<string>WorldInfo</string>
	</array>
	<key>Core</key>
	<array>
		<string>Class</string>
		<string>MetaData</string>
		<string>TextBuffer</string>
		<string>ArrayProperty</string>
		<string>ByteProperty</string>
		<string>BoolProperty</string>
		<string>ClassProperty</string>
		<string>ComponentProperty</string>
		<string>FloatProperty</string>
		<string>InterfaceProperty</string>
		<string>IntProperty</string>
		<string>NameProperty</string>
		<string>ObjectProperty</string>
		<string>ScriptProperty</string>
		<string>StrProperty</string>
		<string>StructProperty</string>
		<string>Const</string>
		<string>Enum</string>
		<string>Function</string>
		<string>Package</string>
		<string>ObjectRedirector</string>
		<string>Object</string>
		<string>Component</string>
		<string>Interface</string>
		<string>Subsystem</string>
		<string>Commandlet</string>
		<string>DistributionFloat</string>
		<string>DistributionVector</string>
		<string>HelpComandlet</string>
	</array>
</dict>
</plist>
