<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Prefab</key>
	<dict>
		<key>PrefabArchetypes</key>
		<string>Object</string>
	</dict>
	<key>GFxMovieInfo</key>
	<dict>
		<key>References</key>
		<string>Object</string>
	</dict>
	<key>StaticMeshComponent</key>
	<dict>
		<key>Materials</key>
		<string>Object</string>
		<key>IrrelevantLights</key>
		<string>Raw</string>
	</dict>
	<key>PhysicsAssetInstance</key>
	<dict>
		<key>Constraints</key>
		<string>Object</string>
		<key>Bodies</key>
		<string>Object</string>
	</dict>
	<key>PhysicsAsset</key>
	<dict>
		<key>ConstraintSetup</key>
		<string>Object</string>
		<key>BodySetup</key>
		<string>Object</string>
		<key>BoundsBodies</key>
		<string>Int</string>
	</dict>
	<key>InterpCurveEdSetup</key>
	<dict>
		<key>Curves</key>
		<string>Property</string>
	</dict>
	<key>ParticleSystem</key>
	<dict>
		<key>Emitters</key>
		<string>Object</string>
		<key>LODDistances</key>
		<string>Int</string>
	</dict>
	<key>PostProcessChain</key>
	<dict>
		<key>Effects</key>
		<string>Object</string>
	</dict>
	<key>Material</key>
	<dict>
		<key>EditorComments</key>
		<string>Int</string>
		<key>ReferencedTextures</key>
		<string>Object</string>
		<key>Expressions</key>
		<string>Object</string>
	</dict>
	<key>MaterialInstanceConstant</key>
	<dict>
		<key>ScalarParameterValues</key>
		<string>Property</string>
		<key>TextureParameterValues</key>
		<string>Property</string>
		<key>VectorParameterValues</key>
		<string>Property</string>
		<key>ReferencedTextures</key>
		<string>Object</string>
	</dict>
	<key>SkeletalMesh</key>
	<dict>
		<key>LODInfo</key>
		<string>Property</string>
		<key>Sockets</key>
		<string>Object</string>
		<key>bEnableShadowCasting</key>
		<string>Bool</string>
		<key>LODMaterialMap</key>
		<string>Int</string>
	</dict>
	<key>AnimSet</key>
	<dict>
		<key>TrackBoneNames</key>
		<string>Name</string>
		<key>Sequences</key>
		<string>Object</string>
	</dict>
</dict>
</plist>
